html,
body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(71, 71, 71);
    text-align: center;
}

div#stats {
    z-index: 0;
    position: absolute;
    top: 2%;
    width: 100%;
}

div#bars {
    height: 30px;
    width: 100%;
    text-align: center;
}

div.bar {
    height: 100%;
    width: 500px;
    display: inline-block;
    border: white solid 2px;
    margin-right: 10px;
    margin-left: 10px;
}

div#health {
    background-color: rgb(255, 87, 87);
    height: 100%;
    width: 100%;
}

div#mana {
    background-color: rgb(0, 102, 255);
    height: 100%;
    width: 100%;
}

div#game {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px;
    background-color: rgb(12, 12, 12);
}